.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    color: white;
}

.header__lang-link:first-of-type {
    text-decoration: underline;
}

.header__lang-link:hover {
    opacity: .8;
    transition: opacity .3s ease-out;
}

@media screen and (max-width: 600px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}