.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
    list-style: none;
}

@media screen and (max-width: 500px) {
    .footer__links {
        flex-direction: column;
        gap: 32px;
    }
}