.header__lang-links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
    list-style: none;
}

@media screen and (max-width: 767px) {
    .header__lang-links {
        padding-bottom: 8px;
    }
}
