.page__cover {
    margin: 0 auto 92px;
}

@media screen and (max-width: 768px) {
    .page__cover {
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 320px) {
    .page__cover {
        margin: 0 auto 64px;
    }
}